.Menu{
    list-style-type: none;
    padding-inline-start: 0px;
}
.Menu > * :hover{
    font-style: italic;
}
.Menu > * ::selection{
    color: red
}
.Menu-item{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.85rem;
    color: #2e2e2d;
    text-decoration: none;
    padding-left: 10px;
}