.Menu > * {
    list-style-type: none;
    padding-inline-start: 0px;
}
.Menu > * :hover{
    font-style: italic;
}
.Menu > * ::selection{
    color: #00ffff;
}
.Menu-item{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.85rem;
    color: #2e2e2d;
    text-decoration: none;
    padding-left: 10px;
}
.Menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .Menu{
        flex-direction: column;
    }
    .Menu-list-open{
        display: none;
    }
    .Menu-list {
        display: none;
    }

    /* Position and sizing of burger button */
    .bm-burger-button {
        position: fixed;
        width: 25px;
        height: 15px;
        right: 10px;
        top: 15px;
    }
    
    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: #2e2e2d;
    }
    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
        background: #2e2e2d;
    }
    
    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        width: 25px;
        height: 15px;
        right: 10px;
        top: 10px;
    }
    
    /* Color/shape of close button cross */
    .bm-cross {
        background: #2e2e2d;
    }
    
    /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
    .bm-menu-wrap {
        position: fixed;
        height: 100vh !important;
        width: 55vw !important;
        top: 0px;
    }
    
    /* General sidebar styles */
    .bm-menu {
        background: white;
        font-size: 1.15em;
        overflow-y: hidden !important; 
    }
    
    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #2e2e2d;
    }
    
    /* Wrapper for item list */
    .bm-item-list {
        color: #2e2e2d;
        padding: 8.5vh 0px 0px 10px;
    }
    
    /* Individual item */
    .bm-item {
        text-decoration: none;
        list-style-type: none;
        padding-inline-start: 0px;
        margin: 0px !important;
    }
    
    /* Styling of overlay */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }
    li:last-child{
        margin-top: 20px;
    }     
    .Menu__open {
        transition: opacity 0.4s ease-in-out;
        opacity: 1;
    }

    .Menu__closed {
        opacity: 0;
    }
}
@media (max-width: 375px){
    .bm-burger-bars {
        margin-top: 1vh;
    }
}