.VideoDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.VideoDetail__credits{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
.VideoDetail__credits ::selection{
    color: #00ffff;
}

@media (max-width: 768px){
    .VideoDetail{
        padding-top: 10vh;
    }
    .VideoDetail__credits{
        font-size: 1.1rem;
        margin: 20px;
    }
    .VideoDetail__credits{
        font-size: .7rem;
    }
}