.HomeSection{
    border: 2px blue solid;
    flex: 1;
}
.HomeSection__container{
    width: 40vw;
    height: 100vh;
    border: 2px green solid;
    overflow: hidden;
}
.HomeSection__slider{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.HomeSection__image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.HomeSection__containerLarge{
    width: 80vw;
    height: 100vh;
}