.Footer{
    line-height: 0.5rem;
}

.Footer-item{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    bottom: 0;
    line-height: 1.2rem;
}

.Footer-item a{
    color: #2e2e2d;
    text-decoration: none;
}

.Footer-item__list{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.2rem;
}
.Footer-item__list a{
    color: #2e2e2d;
    text-decoration: none;
}

