.Footer{
    position: absolute;
    bottom: 0;
}

.Footer > * ::selection{
    color: red
}
.Footer > * :hover{
    font-style: italic;
}
.Footer-item{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.85rem;
    line-height: 0.4rem;
    text-align: center;
}
.Footer-item::selection{
    color: red
}
.Footer-item a{
    color: #2e2e2d;
    text-decoration: none;
}

.Footer-item__list{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.85rem;
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 0.4rem;
}
.Footer-item__list a{
    color: #2e2e2d;
    text-decoration: none;
    font-size: 0.85rem;
}

@media (max-width: 768px){
    .Footer{
        display: none;
    }
}
