.App{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.Left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.Left_up{
  padding: 0.8rem 1rem 0.8rem 1.5rem;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
  text-justify: justify;
  top: 0;
  position: sticky;
}

.Right{
}