.App{
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.Left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100dvh;
  text-justify: justify;
  top: 0;
  position: sticky;
}
.Left_up{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 768px){
  .App{
    display: flex;
    flex-direction: column;
  }
  .Left{
    display: flex;
    flex-direction: row;
    height: 7vh;
    min-height: 5vh;
  }
  .Left_up{
    display: flex;
    flex-direction: row-reverse;
    height: 7vh;
    width: 100%;
    justify-content: space-between;
    text-justify: justify;
    top: 0;
    position: sticky;
  }
}